@{
    ViewBag.Title = "courses";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>courses</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>

    <table style="width:80%">
        <caption>Academic Record</caption>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Course Grade</th>

        </tr>
        <tr>
            <td>01</td>
            <td>Computer Application</td>
            <td>A</td>
        </tr>
        <tr>
            <td>02</td>
            <td>Programming I</td>
            <td>C</td>
        </tr>
        <tr>
            <td>03</td>
            <td>Calculus I</td>
            <td>C</td>
        </tr>
        <tr>
            <td>04</td>
            <td>Basic Electronics</td>
            <td>B</td>
        </tr>
        <tr>
            <td>05</td>
            <td>Programming II</td>
            <td>A</td>
        </tr>
        <tr>
            <td>06</td>
            <td>Personal Developnment and IT</td>
            <td>A</td>
        </tr>
        <tr>
            <td>07</td>
            <td>Calculus II</td>
            <td>C</td>
        </tr>
        <tr>
            <td>08</td>
            <td>Operating System</td>
            <td>B</td>
        </tr>
        <tr>
            <td>09</td>
            <td>Object Oriented Pardigram</td>
            <td>B</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Digital Logic Design</td>
            <td>B</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Business Communication</td>
            <td>A</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Report Writing and Presentation Skills</td>
            <td>A</td>
        </tr>

        <tr>
            <td>14</td>
            <td>Financial Accounting</td>
            <td>A</td>

        </tr>

    </table>

   


</body>
</html>
