@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Education</h2>
<section class="feedback" id="feedback">
    <div class="container">
        <div class="heading">
            <h3>
                Here is my educational background in chronological order<br>
            </h3>
        </div>
    </div>

    <div class="container">
        <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
                <div class="hi-icon-wrap hi-icon-effect">
                    <h4>BACHELORS IN CS</h4>
                    <h5>SEPT 2014 - SEPT 2018</h5>
                    <i class="fa fa-laptop"></i>
                    <p> I am doing bachelors in computer science from National College of Business Administration And Economics</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.6s">
            <div class="text-center">
                <div class="hi-icon-wrap hi-icon-effect">
                    <h4>INTERMEDIATE IN MEDICAL</h4>
                    <h5>FEB 2012 - FEB 2014</h5>
                    <i class="fa fa-book"></i>
                    <p>I did F.Sc(pre-medical) from Punjab Group Of Colleges</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.9s">
            <div class="text-center">
                <div class="hi-icon-wrap hi-icon-effect">
                    <h4>DIPLOMA IN ADOBEPHOTOSHOP</h4>
                    <h5>FEB 2014 - MAY 2014</h5>
                    <i class="fa fa-book"></i>
                    <p>I did diploma course in Adobe photoshop from BETS.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.9s">
            <div class="text-center">
                <div class="hi-icon-wrap hi-icon-effect">
                    <h4>SCHOOLING</h4>
                    <h5>FEB 1999 - MAY 2011</h5>
                    <i class="fa fa-book"></i>
                    <p>I  completed my schooling from Cantt public school system</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.9s">
            <div class="text-center">
                <div class="hi-icon-wrap hi-icon-effect">
                    <h4>NUML</h4>
                    <h5> JUNE 2007-JULY 2007</h5>
                    <i class="fa fa-book"></i>
                    <p>I  completed a diploma  of english language course from NUML at level 1</p>
                </div>
            </div>
        </div>
    </div>

</section>



<!--education-->
