@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Home</h2>
<p1>I am looking for the opportunity to work as an Web Designer . One of my greatest strengths is that I am endlessly determined to my work.
 I am proficient in html and css and I have a penchant for staying in touch with the emerging technologies .besides this I have knowledge
 of programming languages 
    </p1>
  <p2>Along with hardware due to my good client facing skills I can design softwares according to written or verbal instructions.
 With admirable passionate abilities and an outstanding skill ethic and ability to work well in a process oriented environment I am very eager to serve you</p2>