@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Skills And Academic Experience</h2>
<section class="specialties" id="specialties">
    <div class="container">
        <div class="heading text-center">
            <h3>
                Apart from below mentioned skills I have Time management skills,Good client facing skills,Task managing skills(can complete task in given time with efficient results)
            </h3>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s" ">
					<div class=" skill">
                <div class="progress-wrap">
                    <h3>C plus plus</h3>
                    <div class="progress">
                        <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="bar-width">85%</span>
                        </div>

                    </div>
                </div>

                <div class="progress-wrap">
                    <h3>HTML</h3>
                    <div class="progress">
                        <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                            <span class="bar-width">95%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-wrap">
                    <h3>CSS</h3>
                    <div class="progress">
                        <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="bar-width">65%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-wrap">
                    <h3>Wordpress</h3>
                    <div class="progress">
                        <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">90%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-wrap">
                    <h3>c#</h3>
                    <div class="progress">
                        <div class="progress-bar color1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">85%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-wrap">
                    <h3>Database</h3>
                    <div class="progress">
                        <div class="progress-bar color2" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">90%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-wrap">
                    <h3>JAVA</h3>
                    <div class="progress">
                        <div class="progress-bar color3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">65%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-wrap">
                    <h3>Javascript</h3>
                    <div class="progress">
                        <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">72%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.6s" ">

        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="skills">
                    <h3 class="main text-center">WEB DESIGN</h3>
                    <div class="restitem clearfix"
                        <h5> HTML</h5>
                        <p>
                            In Html I have made some websites in html i.e  personal introduction and some other projects
                        </p>
                    </div>
                    <div class="restitem clearfix">
                        <h5>CSS</h5>
                        <p>
                            In css i have done some group projects including  worthy website user interface.
                        </p>
                    </div>
                    <div class="restitem clearfix">
                        <h5>JAVASCRIPT</h5>
                        <p>
                            in javascript i have also worked in javascript
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skills">
                    <h3 class="main text-center">PROGRAMMING</h3>
                    <div class="restitem clearfix
                        <h5>C plus plus</h5>
                        <p>
                            In c plus plus i have made some goup projects like hospital managment system ,bank managment
                            system and candy machine
                        </p>
                    </div>
                    <div class="restitem clearfix">
                        <h5>C sharp</h5>
                        <p> In c sharp i have done game developing like tic-tac-toe (five by five) and flappy bird .</p>
                        <p>
                            And in app developing i have
                            made windows calculator.

                        </p>
                    </div>
                    <div class="restitem clearfix">
                        <h5>JAVA</h5>
                        <p>
                            In java i have made Flip Flop game and claculator.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

